
/*
    Roboto Font
*/

:root {
    --font-family: "Roboto", sans-serif;
    --font-weight-regular: 500;
    --font-weight-light: 400;
    --font-weight-big: 800;
}

h1 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-big);
    font-style: italic;
    font-size: 6rem;
    margin-top: -1rem;
    margin-bottom: 3rem;
    color: white;
}

h3 {
    font-family: var(--font-family);
    font-weight: var(--font-weight-light);
    font-style: normal
}

.container_primary {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh
}

.container_secondary {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul.remove_dots {
    list-style-type: none; 
}

/* Button */
a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: var(--font-weight-big);
    font-style: normal;
    text-align: center;
}

.btn {
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Vertically center content */
    justify-content: center; /* Horizontally center content (if needed) */
    
    
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5;
    width: 30rem;
    height: 3.5rem;
    position: relative;
}

.btn .btn_slide {
    display: flex;
    align-items: center;
    justify-content: center; 

    color: #000;
    background-color: white;
    
    transition: background-color 0.3s, transform 0.5s;
    width: 100%;
    height: 100%;
    position: relative;

    border: 1px solid white;
    border-radius: 0 0 0 0;
}

.btn:hover .btn_slide {
    background-color: black;
    color: white;
    transform: translateX(10%);
}

.btn::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 1.0s;

    left: 10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid white;
    opacity: 0;
}

.btn:hover::before {
    opacity: 1;
}



/* Background  background: #312f2f;*/

body {
    background: white;
    background-attachment: fixed;
}

aside {
    background: black;

    background-size: 10px 10px;
    background-blend-mode: overlay;
    
    margin: 5vh 5vh 0vh 5vh;
    border: 5px solid white;
    border-radius: 50px;
    /*box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);*/

    -webkit-box-shadow: 2px 0px 8px 11px rgb(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 0px 8px 11px rgb(0, 0, 0, 0.4);
    box-shadow: 2px 0px 8px 11px rgb(0, 0, 0, 0.4);

}

.fancy {
    @supports (background-clip: text) or (-webkit-background-clip: text) {
      background-color: white;
      background-size: 110% auto;
      background-position: center;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
}

.top_left {
    position: absolute;
    top: 100px;
    left: 100px;
    font-size:2em !important;
    text-decoration: underline !important;
}

/*
aside {
    background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(207,241,255,0.5) 60%, rgba(191,223,255,0.5) 100%), 
                url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><circle cx="50" cy="50" r="10" fill="%23a0d9ff"/></svg>');
    background-size: 10px 10px;
    background-blend-mode: overlay;
    animation: none 40000ms infinite linear;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
*/